:root {
  --primary-color: #0D1B2A;
  --accent-color: #1B263B;
  --background-color: #F0F4F8;
  --card-background: #FFFFFF;
  --input-border-color: #E0E0E0;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #D0D0D0;
  --button-hover-color: #415A77;
  --button-background: #1B263B;
  --declined-button: #740303f5;
  --applicants: #023a02;
}

.table-container {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.table-body-container {
  max-height: 500px; /* Adjust height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
}

.accredited-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  background-color: var(--background-color);
}

.accredited-table th, .accredited-table td {
  padding: 12px;
  border-bottom: 1px solid var(--input-border-color);
  white-space: nowrap; /* Prevent wrapping by default */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

/* Set specific widths for table headers to ensure alignment */
.accredited-table th {
  width: 15%; /* Adjust as needed for each column */
  text-align: left;
}

.accredited-table td {
  width: 15%; /* Keep consistent with th for alignment */
  text-align: left;
}

/* Allow the email address to wrap and avoid overflow */
.accredited-table td:nth-child(3) { /* Email Address */
  white-space: normal; /* Allow wrapping */
  overflow-wrap: break-word; /* Break long words */
  word-wrap: break-word; /* Legacy support */
  max-width: 150px; /* Set a max width to control cell size */
}

.accredited-table td:nth-child(2), /* Representative Name */
.accredited-table td:nth-child(1) { /* Organization Name */
  overflow-wrap: break-word; /* Allows text to wrap if it's too long */
}

.accredited-table th {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  color: rgb(0, 128, 87);
  z-index: 1;
}

.accredited-table tr:hover {
  background-color: #51759019;
}

.delete-btn {
  background-color: rgb(205, 23, 23);
  padding: 5px 15px;
  color: var(--text-color-primary);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 9px;
}
