@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #0D1B2A;
  --accent-color: #1B263B;
  --background-color: #F0F4F8;
  --card-background: #FFFFFF;
  --input-border-color: #E0E0E0;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: #D0D0D0;
  --button-hover-color: #415A77;
  --button-background: #1B263B;
  --declined-button: #740303f5;
  --applicants: #023a02;
}

body {
  display: flex;
  height: 100vh;
  font-size: 16px;
  background-color: var(--input-border-color);
}

/* Section Styles */
.section {
  background-color: var(--background-color);
  flex-grow: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;
}


/* Main Container */
.main-container {
  transition: background-color 0.5s ease-in, transform 0.5s ease-in;
  overflow: hidden;
  flex-grow: 1;
  margin: 5px;
  padding: 13px;
  border-radius: 20px;
  background-color: var(--card-background);
}

/* Top Container */
.top-container {
  background-color: var(--background-color);
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.top-content h2 {
  color: var(--primary-color);
}

/* Notifications Dropdown */
.notifications-dropdown {
  float: right;
  margin-top: -40px;
  border-radius: 25px;
  display: flex;
  gap: 40px;
  background-color: var(--text-color-primary);
  padding: 10px 20px 5px 20px;
}

/* Notification Modal */
.notification-modal {
  position: absolute;
  top: 90px;
  right: 100px;
  background-color: var(--card-background);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 430px;
  max-height: 300px;
  display: none;
  z-index: 1000;
}

.notification-modal.active {
  display: block;
}

.notification-content {
  max-height: 200px;
  overflow-y: auto;
}

/* Notification List */
#notification-list {
  list-style-type: none;
  padding: 0;
}

#notification-list li {
  padding: 10px;
  border-bottom: 1px solid var(--input-border-color);
  color: var(--primary-color);
  font-weight: 500;
}

#notification-list li:last-child {
  border-bottom: none;
}

small {
  color: var(--button-hover-color);
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  color: var(--declined-button);
}

/* Notification Icon */
.notification-icon {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  color: var(--primary-color);
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -13px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Left Side Container */
.left-side-container {
  margin-top: 20px;
  border-radius: 20px;
  flex-direction: column;
}

.left-content {
  border-radius: 5px;
  text-align: center;
  display: flex;
  gap: 50px;
}

.left-content i {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 15%;
  border-radius: 5px;
}

.left-content p {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
}

.left-content span {
  font-size: 20px;
}

/* Status Colors */
#applicants {
  background-color: var(--applicants);
  color: var(--text-color-primary);
}

#approved {
  background-color: var(--button-hover-color);
  color: var(--text-color-primary);
}

#declined {
  background-color: var(--declined-button);
  color: var(--text-color-primary);
}

/* Right Side Container */
.right-side-container {
  float: right;
  position: relative;
  width: 45%;
  margin-top: -58px;
}

.right-content {
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 20px;
}

/* Time Styling */
.time {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--card-background);
  padding: 10px;
  border-radius: 20px;
}

.current-date {
  color: var(--accent-color);
  padding: 10px;
}

/* Calendar Styling */
.calendar {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
}

.calendar th {
  background-color: var(--button-hover-color);
  font-weight: bold;
  color: var(--text-color-primary);
}

.calendar td:not(:empty) {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.today {
  background-color: var(--declined-button);
  color: var(--text-color-primary);
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
