.swal-delete{
    background-color:#09031e;
    color: #ffff;
    font-size: 12px;
}
.swal-success{
    background-color:#09031e;
    color: #ffff;
    font-size: 12px;
}
.swal-pop-up{
    background-color:#09031e;
    color: #ffff;
    font-size: 12px;
}
.swal-verified{
    background-color:#09031e;
    color: #ffff;
}