/* Theme Icon Transition */
#theme-icon {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: scale(1);
    cursor: pointer;
    font-size: 15px;
    
  }
  .dark-theme #theme-icon{
    color: var(--text-color-primary);
  }
  .light-theme #theme-icon {
    transform: scale(1.3) rotate(360deg);
    opacity: 0.8;
  }
  /*sidebar theme*/
  .dark-theme .sidebar.collapsed .menu-btn{
    color: var(--text-color-primary);
  }
  /* admin theme*/
  
  .dark-theme .main-container{
    background-color: var(--primary-color);
  }
  .dark-theme .section {
  background-color: var(--accent-color);
    
  }
  
  .dark-theme .top-container {
    background-color: var(--accent-color);
  }
  .dark-theme .top-content h2{
    color: var(--text-color-primary);
  }
  .dark-theme .notifications-dropdown  {
  background-color: var(--primary-color);
  }
  .dark-theme .notifications-dropdown i{
   color: var(--text-color-primary);
  }
  .dark-theme .notification-modal {
   background-color: var(--button-hover-color);
  }
  
  .dark-theme .notification-content {
    color: var(--text-color-secondary);
  }
  .dark-theme .bottom-container{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
  }
  .dark-theme .right-content {
    background-color: var(--button-background);
  }
  .dark-theme .time{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
  }
  /*date and event*/
  .dark-theme .days-of-week{
    background-color: var(--button-hover-color);
    color: var(--text-color-primary);
  }
  .dark-theme .dates-grid{
    background-color: var(--button-background);
    color: var(--text-color-primary);
  }
  .dark-theme .event-details{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
  }
  .dark-theme #event-list li{
    background-color: var(--button-hover-color);
  }
  /* Additional Dark Theme Styles */
  .dark-theme .close-button{
    color: var(--input-border-color);
  }
  .dark-theme #notification-list li {
    border-bottom: 1px solid var(--input-border-color); 
  }
  .dark-theme #notification-list li{
  color: var(--text-color-primary);
  }
  .dark-theme #notification-list li small{
   color: var(--text-color-secondary);
  }
  
  /*in progress theme*/
  .dark-theme .in-progress-requests{
    background-color: var(--accent-color);

  }
  .dark-theme .in-progress-requests th, .dark-theme .in-progress-requests td {
    color:var(--text-color-primary) ;

  
}
.dark-theme .in-progress-requests th {
    background-color: var(--button-hover-color);
    color: var(--text-color-primary);
 }
 
 /*accredited theme*/
 .dark-theme .accredited-table th{
  background-color: var(--button-hover-color);
  color: var(--text-color-primary);
 }
 .dark-theme .accredited-table{
  background-color: var(--accent-color);
  color: var(--text-color-primary);
 }
 /*verified students*/
 .dark-theme .verified-container{
  background-color: var(--button-background);
  color: var(--text-color-primary);
 }
 .dark-theme .list-of-verified td{
  background-color: var(--primary-color);
  color: var(--text-color-primary);
 }