/* General styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fc;
}

/* Verified container */
.verified-container {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Section headers */
.add-verified-student, .import-student-list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.add-verified-student input, .import-student-list input {
    padding: 6px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.add-verified-student .input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.add-verified-student .input-with-icon i {
    position: absolute;
    right: 10px;
    color: #888;
}

.add-verified-student button, .import-student-list button {
    padding: 6px 15px;
    background-color: #060a1f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-verified-student button:hover, .import-student-list button:hover {
    background-color: #15216d;
}

/* Table styling */
.table-container {
    margin-top: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Ensures fixed column width */
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    white-space: nowrap; /* Prevents line breaks within cells */
}

table th {
    background-color: #090e2c;
    color: white;
}

table thead th {
    width: 25%; /* Adjust this percentage for desired column widths */
}

.list-of-verified {
    overflow-y: auto;
    height: 300px;
}

table tbody tr:hover {
    background-color: #f5f5f5;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
