:root {
    --primary-color: #0D1B2A; /* Dark Blue */
    --accent-color: #1B263B; /* Darker Blue */
    --background-color: #F0F4F8; /* Light Background */
    --card-background: #FFFFFF; /* White Card Background */
    --input-border-color: #E0E0E0; /* Light Border Color */
    --text-color-primary: #FFFFFF; /* White Text */
    --text-color-secondary: #D0D0D0; /* Light Gray Text */
    --button-hover-color: #415A77; /* Hover Color */
    --button-background: #1B263B; /* Button Background */
    --declined-button: #740303f5; /* Declined Button Color */
    --applicants: #0a490a; /* Applicants Color */
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif; /* Modern font */
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding-top: 60px; 
    font-size: 15px;
}

.modal-content {
    background-color: var(--card-background);
    margin: 5% auto; 
    padding: 40px;
    border: none;
    width: 80%; 
    max-width: 500px; 
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
    background-color: var(--background-color);
}
.form-modal{
 line-height: 30px;
 text-align: left;
 color: var(--primary-color);
}
#additional-message{
border-radius: 10px;
padding: 10px;
}
#send-email-button{
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--accent-color);
    color: var(--text-color-primary);
}
#send-email-button:hover{
    background-color: var(--button-hover-color);
}
.modal-content.show {
    transform: translateY(0); /* Slide down effect */
    opacity: 1; /* Fade-in effect */
}

.modal-content.hide {
    transform: translateY(-20px); /* Slide up effect */
    opacity: 0; /* Fade-out effect */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.2s; /* Smooth color change */
}

.close:hover,
.close:focus {
    color: var(--button-hover-color); /* Change to hover color */
    text-decoration: none;
    cursor: pointer;
}

