.swal2-popup{
    background-color:rgb(12, 46, 19);
    color: #ffff;
    width: 30%;
    font-size: 15px;
}
.swal2-title {
    color: #ffffff; /* Dark text color for title */
    font-size:23px; /* Larger font size */
  }
@media (max-width: 768px) {
    .swal2-popup{
        width: 100%;
        font-size: 13px;
    }
    .swal2-title {
        font-size:17px; /* Larger font size */
      }
   
}