/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --signIn-Color: rgb(19, 67, 36);
  --button: #2a8633;
  --font-color: #fff;
  --box-shadow: #597d9b;
  --bg-bx-color: #141a1e56;
  --hover-color: #3aba47;
  --spinner-color:#3aba478a;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

/* Logo Container Styles */
.logo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: var(--signIn-Color);*/
  padding: 20px;
  background-image: url('../assets/rsu-background.png');
  background-size: cover;
  background-position: center;
}

.logo-wrap img {
  height: 150px;
  object-fit: contain;
  box-shadow: 0px 4px 15px rgba(var(--box-shadow), 0.1);
  
}

.logo-wrap h3 {
  color: var(--font-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
}

/* Login Container Styles */
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;

}

/* Login Wrap Styles */
.login-wrap {
  position: relative; /* Position relative to contain the absolute spinner */
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-text {
  text-align: center;
  background-color: var(--signIn-Color);
  padding: 25px;
  border-radius: 10px 10px 0 0;
  width: calc(100% + 60px);
  margin-left: -30px; 
  margin-right: -30px; 
  margin-bottom: 20px;
  margin-top: -40px;
}


.login-text h4 {
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Form Wrapper Styles */
.form-fields {
  position: relative;
}

/* Form Styles */
form {
  margin-top: 20px;
  
}

.signIn {
  margin-bottom: 15px;
}

.signIn input:invalid {
  border: 1px solid red;
}

.signIn label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--button);
  margin-bottom: 5px;
  font-weight: 500;
}

.signIn input[type="text"],
.signIn input[type="password"] {
  width: 100%;
  padding: 15px; 
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  border: 1px solid var(--bg-bx-color);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid var(--hover-color);

}

.signIn input[type="submit"] {
  width: 100%;
  padding: 15px; 
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--button);
  color: var(--font-color);
  letter-spacing: 1px;
  font-size: 16px; 
  cursor: pointer;
}

.signIn input[type="submit"]:hover {
  background-color: var(--hover-color);
  transition: 0.5s ease-out;
}

.signIn p {
  color: var(--button);
  font-size: 13px;
  margin-top: 20px;
}

.signIn p a {
  color: var(--button);
  text-decoration: underline;
  margin-left: 5px;
  font-size: 13px;
  margin-top: -18px;
  font-weight: 600;
}

.signIn p a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.signIn a {
  display: block;
  text-align: right;
  font-size: 13px;
  color: var(--button);
  margin-top: 20px;
}

/* Loading Spinner Styles */
.loading-spinner {
  position: absolute; /* Center the spinner */
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position */
  width: 100px; /* Increase width */
  height: 100px; /* Increase height */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it appears above other content */
}

.spinner {
  border: 12px solid rgba(0, 0, 0, 0.1);
  border-left: 12px solid var(--spinner-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* sweet alert size*/
.swal-wide{
 width: 30%;
  font-size: 13px;
height: auto;

}
.swal-image{
  object-fit: contain;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo-container {
    min-width: 100%;
    padding: 20px;
  }
  .swal-wide{
    width: 85%;
    font-size: 11px;
    
  }
  .login-container {
    min-width: 100%;
    padding: 20px;
  }

  .login-wrap {
    width: 100%;
  }

  button {
    font-size: 14px; /* Adjust font size on smaller screens */
  }

  button i {
    font-size: 18px; /* Adjust icon size on smaller screens */
  }

}
