/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --signIn-Color: rgb(19, 67, 36);
  --button: #2a8633;
  --font-color: #fff;
  --box-shadow: #597d9b;
  --bg-bx-color: #141a1e56;
  --hover-color: #3aba47;
  --spinner-color:#3aba478a;
}

/* Container Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

/* Logo Container Styles */
.logo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--signIn-Color);
  padding: 20px;
}

.logo-wrap img {
  height: 150px;
  object-fit: contain;
}

.logo-wrap h3 {
  color: var(--font-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
}

/* Login Container Styles */
.login-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.login-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Login Wrap Styles */
.login-wrap {
  position: relative; /* Position relative to contain the absolute spinner */
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--bg-bx-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-text {
  text-align: center;
  background-color: var(--signIn-Color);
  padding: 25px;
  border-radius: 10px 10px 0 0; /* Rounded corners on top only */
  width: calc(100% + 60px); /* Expand width to cover the form width including padding */
  margin-left: -30px; /* Shift left to cover padding */
  margin-right: -30px; /* Shift right to cover padding */
  margin-bottom: 20px;
  margin-top: -40px;
}


.login-text h4 {
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Form Wrapper Styles */
.form-fields {
  position: relative;
}

/* Form Styles */
form {
  margin-top: 20px;
}

.signIn {
  margin-bottom: 15px;
}

.signIn input:invalid {
  border: 1px solid red;
}

.signIn label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--font-color);
  margin-bottom: 5px;
}

.signIn input[type="text"],
.signIn input[type="password"] {
  width: 100%;
  padding: 15px; /* Increase padding for larger fields */
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px; /* Increase font size for larger fields */
}

.signIn input[type="submit"] {
  width: 100%;
  padding: 15px; /* Increase padding for larger button */
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--button);
  color: var(--font-color);
  letter-spacing: 1px;
  font-size: 16px; /* Increase font size for larger button */
  cursor: pointer;
}

.signIn input[type="submit"]:hover {
  background-color: var(--hover-color);
  transition: 0.5s ease-out;
}

/* OR Line Styling */
.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.or-container p {
  color: var(--font-color);
  margin: 0 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.or-container .line {
  border: 0;
  height: 1px;
  width: 40%;
  background-color: var(--font-color);
}

/* Button and Icon Styles */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--button);
  color: var(--font-color);
  font-size: 16px; /* Increase font size */
  text-transform: uppercase;
  cursor: pointer;
}

button i {
  margin-right: 10px;
  font-size: 20px; /* Adjust size of icon */
}

button:hover {
  background-color: var(--hover-color);
  transition: 0.5s ease-out;
}

/* Specific Button Styles */
button#google-login-btn i {
  color: #113d85; /* Google icon color */
}

button#facebook-login-btn i {
  color:#113d85; /* Facebook icon color */
}

.signIn p {
  color: var(--font-color);
  font-size: 13px;
  margin-top: 20px;
}

.signIn p a {
  color: var(--font-color);
  text-decoration: underline;
  margin-left: 5px;
  font-size: 13px;
  margin-top: -18px;
}

.signIn p a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.signIn a {
  display: block;
  text-align: right;
  font-size: 13px;
  color: var(--font-color);
  margin-top: 20px;
}

/* Loading Spinner Styles */
.loading-spinner {
  position: absolute; /* Center the spinner */
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position */
  width: 100px; /* Increase width */
  height: 100px; /* Increase height */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999; /* Ensure it appears above other content */
}

.spinner {
  border: 12px solid rgba(0, 0, 0, 0.1); /* Light gray border */
  border-left: 12px solid var(--spinner-color); /* White border for spinning effect */
  border-radius: 50%; /* Circular spinner */
  width: 100px; /* Increase size of the spinner */
  height: 100px; /* Increase size of the spinner */
  animation: spin 1s linear infinite; /* Spinning animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo-container {
    min-width: 100%;
    padding: 20px;
  }

  .login-container {
    min-width: 100%;
    padding: 20px;
  }

  .login-wrap {
    width: 100%;
  }

  button {
    font-size: 14px; /* Adjust font size on smaller screens */
  }

  button i {
    font-size: 18px; /* Adjust icon size on smaller screens */
  }
}
