.status-content p {
    text-align: left; 
    font-size: 12px; 
    font-weight: bold; 
    padding-left: 10px;
    color: #333333a0; /* Darker text color for better contrast */
}

.status-tracker {
    display: flex;
    justify-content: space-around; /* Space out the items evenly */
   
}
.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    padding: 10px;
    transition: transform 0.3s ease; /* Add a hover effect */
}

.status-item:hover {
    transform: translateY(-5px); /* Slight lift on hover for interactivity */
}

.status-check {
    font-size: 13px; /* Larger font size for visibility */
}

.status-label {
    margin-top: 5px;
    font-size: 13px; 
    text-align: center;
    font-weight: 600;
    color: #666; /* Lighter text color for labels */
    margin-top: 10px; /* Increased margin for better spacing */
}

@media (max-width: 600px) {
.status-label{
    font-size: 10px;
}
}
